.user{
  width: 60%;
  /* margin: 0 auto; */
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.user-pic{
  width: 80px;
  border-radius: 40px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px){
  .user{
    width: 100%;
    margin-right: 15px;
  }
}
