<section class="todo-tasks">
  <mat-list>
    <mat-list-item *ngFor="let todo of tasks">
      <button mat-icon-button matToolTip="Click if completed"
      (click)="taskCompleted(todo)"
      >
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="vertMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #vertMenu="matMenu">
        <button mat-menu-item (click)="editTask(todo)">
          <mat-icon>notes</mat-icon>
          Edit</button>
        <button mat-menu-item (click)="showDetails(todo)">
          <mat-icon>receipt</mat-icon>
          Details
        </button>
        <!-- <button mat-menu-item (click)="sortTasks()">
          <mat-icon>receipt</mat-icon>
          Sort
        </button> -->
      </mat-menu>
      <div mat-line class="task">
        {{ todo.task }}
      </div>
      <mat-divider></mat-divider>
      <div mat-line class="create-date">
        Created : {{ todo.creationDate | date:'medium' }}
      </div>
    </mat-list-item>
  </mat-list>
</section>
