<section style="margin-top: 20px;">
  <form fxLayout="column" fxLayoutAlign="center center">
    <h2>Login</h2>
    <mat-form-field>
      <input type="email" matInput email
      name="email" placeholder="Email" ngModel>
      <mat-hint>example@email.com</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput name="password" placeholder="Password" ngModel>
      <mat-hint>Enter valid password</mat-hint>
    </mat-form-field>
    <button class="login-btn"
    mat-raised-button color="primary">Login
  </button>
    <p>Not Registred , <a routerLink="/signup">Sign Up Here</a> </p>

  </form>
</section>
