<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-toolbar color="primary">
      <span (click)="sidenav.close()"
      class="nav-close-btn"
      >X</span>
      <span style="margin-left: auto;">LOGO</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon>room</mat-icon>
        <span class="nav-caption">Location</span>
      </a>
      <a mat-list-item routerLink="/item1" (click)="sidenav.close()">
        <mat-icon>code</mat-icon>
        <span class="nav-caption">Source Code</span>
      </a>
      <a mat-list-item routerLink="/item2" (click)="sidenav.close()">
        <mat-icon>search</mat-icon>
        <span class="nav-caption">Search</span>
      </a>
      <a mat-list-item routerLink="/item3" (click)="sidenav.close()">
        <mat-icon>shopping_cart</mat-icon>
        <span class="nav-caption">Cart</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [sidenav]='sidenav'></app-header>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
