
mat-form-field{
  width: 300px;
  margin-bottom: 6px;
}

.signup-form{
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.signup-form h2{
  color: blueviolet;
  text-align: center;
}

.signup-form button{
  margin-top: 10px;
}

mat-radio-button
{
  margin-right: 10px;
}
mat-checkbox
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-form button
{
  display: block;
  margin: 0 auto;
}
